* {
  color: #3C4858;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

header {
  height: 6rem;
  width: 100%;
  border-bottom: 1px solid #E7E9EB;
  text-align: center;
}

header h1 {
  height: 100%;
  margin: 0;
  color: #23ADF0;
  font-size: 6rem;
  font-weight: 600;
  text-shadow: 1px 1px 1px #3C4858;
}

main {
  display: flex;
}

button {
  padding: .5rem 1rem;
  border: none;
  border-radius: 10px;
  background-color: #23ADF0;
  color: #ffffff;
  cursor: pointer;
}

button:hover {
  background-color: #22A6E5;
}

input {
  padding-left: .5rem;  
  border: 1px solid #E7E9EB;
  border-radius: 10px;
}

.left-side {
  width: 55%;
  height: calc(100vh - 7rem);
  text-align: center;
}

.left-side__new-gem-btn {
  height: 2rem;
  margin: 1rem;
}

.right-side {
  height: calc(100vh - 7rem);
  width: 45%;
  border-left: 1px solid #E7E9EB;
}

.right-side h2 {
  font-weight: 600;
}
