header {
  text-align: center;
  width: 100%;
  height: 6rem;
}

header h1 {
  height: 100%;
  margin: 0;
  font-size: 6rem;
}

main {
  display: flex;
}

.left-side {
  width: 55%;
  height: calc(100vh - 6rem);
  text-align: center;
}

.left-side__new-gem-btn {
  height: 2rem;
  margin: 1rem;
}

.right-side {
  width: 45%;
  height: calc(100vh - 6rem);
}

.right-side__new-project-form {
  width: 100%;
}

.right-side__new-gem-form {
  display: flex;
  width: 100%;
}

.gem-form__dropdown {

}

.gem-form__dropdown-content {
  list-style: none;
  display: none;
}

.show {
  display: block;
}

.left-side__diamond {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100% - 4rem);
  background-color: black;
  font-size: 150px;
}

.left-side__diamond h4 {
  position: absolute;
  margin: 0;
  z-index: 1;
  font-size: 25px;
}

.left-side__diamond img {
  position: absolute;
  z-index: 1;
  width: 25px;
}

.top-left-triangle img {
  top: 16.5rem;
  left: 22%;
}

.top-left-triangle h4 {
  top: 16.5rem;
  left: 8%;
}

.top-center-triangle img {
  top: 14.5rem;
  left: 26.5%;
}

.top-center-triangle h4 {
  top: 7rem;
  left: 23.5%;
}

.project-gem__diamond {

}

.top-triangles {
  display: flex;
}

.bottom-triangles {
  display: flex;
}

.top-left-triangle {
  width: 0;
  height: 0;
  border-right: 1em solid transparent;
  border-left: 1em  solid transparent;
  border-bottom: 1.33em solid transparent;
}

.top-center-triangle{
  margin-left: -1em;
  width: 0;
  height: 0;
  border-right: 1em solid transparent;
  border-left: 1em solid transparent;
  border-top: 1.33em solid transparent;
}

.top-right-triangle {
  margin-left: -1em;
  width: 0;
  height: 0;
  border-right: 1em solid transparent;
  border-left: 1em solid transparent;
  border-bottom: 1.33em solid transparent;
}

.bottom-left-triangle {
  width: 0;
  height: 0;
  border-left: 2em solid transparent;
  border-top: 2.23em solid transparent;
}

.bottom-right-triangle {
  width: 0;
  height: 0;
  border-right: 2em solid transparent;
  border-top: 2.23em solid transparent;
}
